@use "presets" as *;
@use "mixins" as *;
.footer{
  padding-top: 45px;
  color: $color-gray;
  background-color: $color-dark;
  &-descriptions{
    h3{
      font-size: 1.125rem;
      margin-top:$gap-md;
    }
    a{
      color: #6f6f6f;
      &:hover{
        color: $color-white;
      }
    }
    ul{
      padding:0;
      list-style: none;
    }
  }
  &-name{
    &__item{
      margin: $gap-2 0;
    text-align: center;
     a{
   color: $color-gray;
   font-weight: 700;
    }
    }
  }
}
