@use "presets" as *;
@use "mixins" as *;

.main {
  margin-bottom:$gap-xl;
  h2{
    margin: 60px 0 45px 45px;
    @include xs {
      margin: 45px 0 30px 45px;
    }
  }
 
  .site-search {
    margin-bottom: $gap * 3;
  }
  .user-login {
    margin-bottom: $gap * 4;
  }
}
.new-films,
.top-week {
  &-row {
    margin-left: -$gap-sm;
    margin-right: -$gap-sm;
    margin-bottom: -$gap;
  }
  &-item {
    padding-left: $gap-sm;
    padding-right: $gap-sm;
    margin-bottom: $gap;
    &:hover{
      h3{
        color:  $color-white;
      }
    }
    &__caption {
      text-align: center;
    }
    &__title {
      @include text-shortener;
      font-size: 1rem;
      margin: 0;
      font-weight : bold;
    }
    &__thumbnail {
      margin-bottom: 0;
    }
    &__image{
      width: 100%;
     }
  }
}
