@use "presets" as *;
@use "mixins" as *;


.embed-responsive {
  border: 1px solid $color-gray;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
}
.film-info{
  font-size: 1.2em;
  &__well{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  &__wrapper{
  &:not(:last-of-type){
      margin-right: $gap;
    }
    white-space: nowrap;
  }
  &__badge{
    font-size: 0.8em;
  }
}
.film-write-comments{
  &__button{
    float: right;
  }
}